body{
  margin: 1em 0;
}

h3{
  font-family: Arial;
  text-align: center;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

textarea {
  background: url('../img/numbered_rows.png');
  background-repeat: repeat;
  background-attachment: scroll;
  background-attachment: local;
  background-repeat: no-repeat;
  padding-top: 12px;
  border-color: #eee;
  font-size: 9px;
  line-height: 16px;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-family: monospace !important;
}

textarea[name=code_area] {
  resize: none;
}
